.recipient {
  margin-right: 5px;
}

.viewing {
  @extend .recipient;
  border-radius: 3px;
  border-color: #f4f5f4;
  border-style: solid;
  border-width: 1px;
  background-color: #f4f5f4;
  padding: 4px 6px 4px 6px;
  &:hover {
    border-color: #ccc;

  }
}

.viewing.invalid {
    background-color: #ff6666;
    border-color: #ff6666;
    color: black;
    &:hover {
      border-color: #982d22;
    }

}

.editing {
  @extend .recipient;
  input {

  }
}


.delRecipient {
  display: none;
}

.recipient.viewing:hover .delRecipient, .recipient.hover .delRecipient {
  display: inline;
}
