nav#main-nav {
  color: #ffffff;
  background-color: #cc0000 !important;
  background-image: url() !important;
  border-radius: 0px !important;
  display: block;
  margin-bottom: 15px;
}

nav#main-nav a {
  color: white;
}

nav#main-nav a:hover {
  background-color: #800000;
}

nav#main-nav a:active {
  background-color: #800000;
}
